# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle
logs

# other
eclipse
run
runs

# Errors
hs_err_pid*
replay_pid*

# allow gradlew
!core/gradle/wrapper
!core/gradlew.bat
!gradle/wrapper
!gradlew.bat