# Brain
public-f net.minecraft.world.entity.ai.Brain$Provider
public net.minecraft.world.entity.ai.Brain$Provider <init>(Ljava/util/Collection;Ljava/util/Collection;Lnet/minecraft/world/entity/ai/Brain$ActivitySupplier;)V
public net.minecraft.world.entity.ai.Brain setMemoryInternal(Lnet/minecraft/world/entity/ai/memory/MemoryMap$Value;)V
public net.minecraft.world.entity.ai.Brain registerMemory(Lnet/minecraft/world/entity/ai/memory/MemoryModuleType;)V
public net.minecraft.world.entity.ai.Brain tickSensors(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/entity/LivingEntity;)V
public net.minecraft.world.entity.ai.Brain getMemorySlotIfPresent(Lnet/minecraft/world/entity/ai/memory/MemoryModuleType;)Lnet/minecraft/world/entity/ai/memory/MemorySlot;
public net.minecraft.world.entity.ai.Brain getMemorySlotIfPresent(Lnet/minecraft/world/entity/ai/memory/MemoryModuleType;)Lnet/minecraft/world/entity/ai/memory/MemorySlot;
public net.minecraft.world.entity.ai.Brain forgetOutdatedMemories()V
public net.minecraft.world.entity.ai.Brain forgetOutdatedMemories()V
public net.minecraft.world.entity.ai.Brain activityRequirementsAreMet(Lnet/minecraft/world/entity/schedule/Activity;)Z
public net.minecraft.world.entity.ai.Brain setActiveActivity(Lnet/minecraft/world/entity/schedule/Activity;)V
public-f net.minecraft.world.entity.ai.Brain availableBehaviorsByPriority
public-f net.minecraft.world.entity.ai.Brain sensors
public net.minecraft.world.entity.ai.Brain activityRequirements
public net.minecraft.world.entity.ai.Brain activityMemoriesToEraseWhenStopped
public net.minecraft.world.entity.ai.Brain memories
public net.minecraft.world.entity.ai.Brain coreActivities
public net.minecraft.world.entity.ai.Brain defaultActivity
public net.minecraft.world.entity.ai.Brain setMemoryInternal(Lnet/minecraft/world/entity/ai/memory/MemoryModuleType;Ljava/lang/Object;J)V
public net.minecraft.world.entity.ai.Brain setMemoryInternal(Lnet/minecraft/world/entity/ai/memory/MemoryModuleType;Ljava/lang/Object;)V

# Behaviour
public-f net.minecraft.world.entity.ai.behavior.Behavior tryStart(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/entity/LivingEntity;J)Z
public net.minecraft.world.entity.ai.memory.NearestVisibleLivingEntities <init>()V
public net.minecraft.world.entity.ai.behavior.GateBehavior behaviors
public net.minecraft.world.entity.ai.behavior.Behavior entryCondition
public net.minecraft.world.entity.ai.behavior.Behavior status
public net.minecraft.world.entity.ai.behavior.Behavior endTimestamp
public-f net.minecraft.world.entity.ai.memory.NearestVisibleLivingEntities nearbyEntities
public-f net.minecraft.world.entity.ai.memory.NearestVisibleLivingEntities lineOfSightTest

# Sensor
public-f net.minecraft.world.entity.ai.sensing.Sensor tick(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/entity/LivingEntity;)V

# Entity
public net.minecraft.world.entity.Entity setSharedFlag(IZ)V

# Pathfinding
public-f net.minecraft.world.level.pathfinder.Path
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation getSurfaceY()I
public net.minecraft.world.entity.ai.navigation.GroundPathNavigation getSurfaceY()I
public net.minecraft.world.level.pathfinder.Path nodes
public net.minecraft.world.entity.ai.navigation.WaterBoundPathNavigation allowBreaching

# World
public net.minecraft.world.level.Level getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.server.level.ServerLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;